/* Block Types */
/* Space */
.noBreack{
    padding: 1px;
    position: relative;
    display: inline-block;
}
/* Obstacles */
.spike{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent black transparent;
}
.lava{
    width:15px;
    height:15px;
    color: #555;
    background-color: orange;
}
/* Safe Landing */
.block{
    width:15px;
    height:15px;
    color: #555;
    background-color: #555;
}
/* Ending */
.portal{
    width:15px;
    height:15px;
    /* font-size: 10px; */
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Game Styles */
#game{
    border:1px solid black;
    margin:auto;
    width:750px;
    height:200px;
    background-image: url("/sunnyDay.jpg");
    background-size: 200px 220px;
}
/* Course */
#course{
    position:absolute;
    top:116px;
}
/* Player */
#me{
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    animation-name: colorAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position:absolute;
    /* top:0px; */
}
@keyframes colorChange {
    0%   {background-color:red; color:red;}
    16%  {background-color:orange; color:orange;}
    32%  {background-color:yellow;  color:yellow;}
    48%  {background-color:green;  color:green;}
    64%  {background-color:blue;  color:blue;}
    80%  {background-color:purple; color:purple;}
    /* 96%  {background-color:pink; color:pink;} */
    100% {background-color:red; color:red;}
}
@keyframes colorAnimation {
    0%   {background-color:red; color:red;}
    33%  {background-color:orange; color:orange;}
    66%  {background-color:yellow;  color:yellow;}
    100%   {background-color:red; color:red;}
}